html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #242424;
}

article {
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.header {
    background: linear-gradient(90deg, #C9D7D7 0%, #90B4D5 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.header h1{
    font-size: 2em;
    text-align: right;
}

#logo {
    height: 40px;
    width: 40px;
}

.header-content {
    max-width: 50%;
    padding-left: 30px;
}

.about {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    padding: 20px;
    margin:20px;
}

.about h2 {
    font-size: 1.75em;
    flex: 1 1 100%;
}

.about div {
    font-size: 1.5em;
    margin: 25px 50px;
    flex: 1 1 100%;
}

.heading {
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    max-width: 115px;
    color: #CAE1E5;
}

.heading li {
    padding: 5px;
}

.shop_page {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: top;
    padding: 20px;
    margin:20px;
}

.shop_page img {
    float: right;
}

.billing {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: top;
    padding: 20px;
    margin:20px;
}

.billing input {
    width: 300px;
    height: 50px;
    align-content: center;
    justify-content: center;
    position: relative;
}

#client_info {
    display: grid;
    align-items: center;
    justify-content: center;
}